<aside class="sidebar">
  <nav>
    <a routerLink="/dashboard" routerLinkActive="active"><i class="fas fa-home"></i> Home</a>
    <a routerLink="/users" routerLinkActive="active"><i class="fas fa-users"></i> Users</a>
    <a routerLink="/admins" routerLinkActive="active"><i class="fas fa-user-shield"></i> Admins</a>
    <a routerLink="/villages" routerLinkActive="active"><i class="fas fa-tree"></i> Villages</a>
    <a routerLink="/entities" routerLinkActive="active"><i class="fas fa-database"></i> Entities</a>
  </nav>
</aside>
