.sidebar {
    height: 100%;
    background: #1e293b;
    padding: 1rem;
  
    nav {
      display: flex;
      flex-direction: column;
      gap: .5rem;
  
      a {
        color: #cbd5e1;
        text-decoration: none;
        padding: .8rem;
        border-radius: 6px;
        display: flex;
        align-items: center;
        gap: .5rem;
  
        &:hover, &.active {
          background: #334155;
          color: #fff;
        }
      }
    }
  }
  